* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(33, 100%, 88%);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  padding: 20px;
  background-color: hsl(0, 0%, 0%);
  border-bottom: 1px solid hsl(0, 0%, 87%);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  font-size: 54px;
  margin-bottom: 50px ;
}

p {
  font-size: 28px;
  margin-bottom: 25px;
}

.error {
  color: hsl(0, 100%, 50%);
}

.button {
  background-color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  transition: background-color 0.5s ease;
}
.button:hover {
  background-color: hsla(0, 0%, 100%, 0.788);
}


.active{
  border-bottom: 5px solid hsl(200, 90%, 50%);
  background-color: hsl(200, 12%, 95%);
}